.bck{
  height: 750px;
  background-image: url('back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  
}
.form-wrap{
  width: 320px;
  border: 3px solid black;
  padding:40px;
  box-sizing: border-box;
  margin: auto;
  color:white;
  margin-top: 100px;
  left: 54%;
  top:55%;
  height: 60%;
  width: 60%;
  background-color: gainsboro;
}

input[type=submit]:hover{
  opacity:1;
}
span{
  color:red;
  font-size: 14px;
}
.heading{
  color:grey;
}

  
    
  
  
